.containerPopup {
  width: 100vw;
  height: 100vh;
  margin: 0  ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  z-index: 10;
  animation: moveUp 0.4s ease-in forwards;
  animation-delay: 2s;
}

.containerPopup span {
  display: flex;
  width: 3rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
  background-color: #FB9400;
  position: absolute;
  border-radius: 50%;
  right: -0.6rem;
  top: -0.6rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2.4rem #00000054;
  cursor: pointer;
}

.containerPopup > div {
  width: 40vw;
  max-width: 40rem;
  position: relative;
  margin: 7rem 2rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 25rem;
  box-shadow: 0 0 2.4rem #00000054;
  padding: 1rem;
}

.containerPopup p {
  font-size: 1.9rem;
  text-align: center;
  margin: 1rem 0;
}

.img {
  height: 10rem;
  width: 10rem;
}


.containerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.containerPopup button {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #FB9400;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.8rem;
  margin-top: auto;
  transition: background-color 0.2s linear;
}

.containerPopup button:hover {
  background-color: #f0cc9b;
}


@keyframes moveUp {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
