.container {
  background-color: #FFF;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerLogo {
  margin-right: 1rem;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 10px 0;
  margin-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.categories::-webkit-scrollbar {
  width: 5px;
}

.categories::-webkit-scrollbar-track {
  background-color: transparent;
}

.categories::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.categoryButton {
  background-color: #FFF;
  color: #000;
  border: none;
  padding: 8px 16px;
  margin: 0 5px; /* Espaçamento entre os botões */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.categoryButton:first-child {
  margin-left: 10px; /* Adiciona um espaço inicial */
}

.categoryButton.active {
  background-color: #FB9400;
  color: #FFF;
}

@media (max-width: 430px) {
  .categories {
    justify-content: flex-start; /* Alinha as categorias à esquerda */
    padding-left: 10px; /* Adiciona um espaço à esquerda */
    padding-right: 10px; /* Adiciona um espaço à direita */
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .categoryButton {
    margin-right: 10px; /* Espaçamento entre os botões */
  }

  .categoryButton:last-child {
    margin-right: 0; /* Remove o espaçamento do último botão */
  }
}


@media (min-width: 1200px) {
  .headerTop {
    padding: 0 10%;
  }
  .headerBottom {
    padding: 0 10%;
  }
}

@media (max-width: 430px) {
  .headerTopRight {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

.headerTopLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.subtitlesBody {
  color: #1B1B1B;
  padding: 2rem 1rem;
  font-size: 2rem;
}

.headerTitle {
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.4rem;
  color: #1B1B1B;
}

.headerSubtitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(151, 151, 151, 0.8);
}

.headerTopRight {
  max-width: 1200px;
  background-color: #e6d6c4;
  border-radius: 2.5rem;
  padding: 1rem .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButton {
  width: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}

.cartStatus {
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 11px;
  font-weight: 600;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  background-color: #000;
  height: 2px;
}

.gridContainer {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}

.gridContent {

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
  gap: 1rem;
  padding: 1rem;
}

.searchText {
  margin: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #979797;
}

.searchText strong {
  font-weight: 600;
}

.noProducts {
  width: 235px;
  margin: 88px auto;
}

.noProductsText {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #CDCDCD;
  text-align: center;
  margin-top: 32px;
}
